// NEUE HAAS GROTESK TEXT PRO

@font-face {
  font-family: 'neue-regular';
  src: url('../assets/fonts/NHaasGroteskTXPro-55Rg.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'neue-italic';
  src: url('../assets/fonts/NHaasGroteskTXPro-56It.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'neue-bold';
  src: url('../assets/fonts/NHaasGroteskTXPro-75Bd.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'neue-bold-italic';
  src: url('../assets/fonts/NHaasGroteskTXPro-76BdIt.woff') format('woff');
  font-style: normal;
}